.mail-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  font-size: 3em;
  background-color: inherit;
  font-weight: bolder;
  border: none;
  color: inherit;
  cursor: pointer;
}

.mail-btn span:first-of-type {
  background-color: var(--underline);
  height: 0.2em;
  width: 100%;
  bottom: 0.3em;
  position: relative;
  transition: all 0.2s ease-in-out;
  border-radius: 0.5em;
}

.mail-btn:hover span {
  height: 0.25em;
  filter: brightness(2);
}

.mail-form {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 0;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 3em 1.5em;
  border-radius: 1em;
  border: 2px solid var(--back-general);
  background-color: var(--letter-general);
  z-index: -1;
}

.mail-form.get-form {
  animation: slideIn 0.5s ease forwards;
  z-index: 15;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    width: 0;
    left: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    width: 50vw;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.field input,
textarea {
  width: 100%;
  padding: 0.5em;
  font-family: "Lilita One";
  font-size: 1.2em;
  border-radius: 0.5em;
}

.field label {
  font-family: "Lilita One";
  font-size: 1.2em;
  color: var(--back-general);
}

.field textarea {
  resize: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}

.overlay.visible {
  visibility: visible;
  height: 100%;
}

#send-button {
  border: none;
  font-family: "Tungsten Medium";
  font-size: 1.5em;
  letter-spacing: 0.2em;
  font-weight: bolder;
  width: 40%;
  border-radius: 0.25em;
  padding: 0.25em;
  cursor: pointer;
  color: var(--back-general);
  background-color: var(--letter-general);
  box-shadow: 0.3em 0.3em 0 0 rgb(52, 124, 226),
    inset 0.3em 0.3em 0 0 rgb(52, 124, 226);
  transition: all 0.25s ease-in-out;
}

#send-button:hover {
  box-shadow: 0 0 0 0 blueviolet, inset 6em 3.5em 0 0 blueviolet;
}

@media (max-width: 430px) {
  .mail-btn {
    font-size: 1.8em;
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      width: 0;
      left: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      width: 80vw;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
